<div class="col-sm-11 col-sm-offset-1">
	<h3 class="page-header">About</h3>
	<div class="col-sm-11 add-menu-item-block">
    <h3>User Profile</h3>
    <div ng-repeat="(key,profile) in about">
    <form name="menuForm">
        <p>{{key}}</p>
        <div class="form-group col-sm-5">
            <label>User Name: </label>
            <input class="form-control" type="text" ng-model="Name" value="{{this.Name}}">
        </div>
        <div class="form-group col-sm-5">
        	<label>Address: </label>
            <input class="form-control" type="text" ng-model="Address" value="{{this.Address}}">
        </div>
        <div class="form-group col-sm-5">
        	<label>Telephone: </label>
            <input class="form-control" type="text" ng-model="Telephone" value="{{this.Telephone}}">
        </div>
        <div class="form-group col-sm-5">
        	<label>Hours: </label>
            <label>Monday: From</label>
            <input class="form-control" type="text" ng-model="Hours.Monday.from" value="{{profile.Hours.Monday.from}}">
            <label>Monday: To</label>
            <input class="form-control" type="text" ng-model="Hours.Monday.to" value="{{profile.Hours.Monday.to}}">
            <label>Tuesday: From</label>
            <input class="form-control" type="text" ng-model="Hours.Tuesday.from" value="{{profile.Hours.Tuesday.from}}">
            <label>Tuesday: To</label>
            <input class="form-control" type="text" ng-model="Hours.Tuesday.to" value="{{profile.Hours.Tuesday.to}}">
            <label>Wednesday: From</label>
            <input class="form-control" type="text" ng-model="Hours.Wednesday.from" value="{{profile.Hours.Wednesday.from}}">
            <label>Wednesday: To</label>
            <input class="form-control" type="text" ng-model="Hours.Wednesday.to" value="{{profile.Hours.Wednesday.to}}">
            <label>Thursday: From</label>
            <input class="form-control" type="text" ng-model="Hours.Thursday.from" value="{{profile.Hours.Thursday.from}}">
            <label>Thursday: To</label>
            <input class="form-control" type="text" ng-model="Hours.Thursday.to" value="{{profile.Hours.Thursday.to}}">
            <label>Friday: From</label>
            <input class="form-control" type="text" ng-model="Hours.Friday.from" value="{{profile.Hours.Friday.from}}">
            <label>Wednesday: To</label>
            <input class="form-control" type="text" ng-model="Hours.Friday.to" value="{{profile.Hours.Friday.to}}">
            <label>Saturday: From</label>
            <input class="form-control" type="text" ng-model="Hours.Saturday.from" value="{{profile.Hours.Saturday.from}}">
            <label>Saturday: To</label>
            <input class="form-control" type="text" ng-model="Hours.Saturday.to" value="{{profile.Hours.Saturday.to}}">
            <label>Sunday: From</label>
            <input class="form-control" type="text" ng-model="Hours.Sunday.from" value="{{profile.Hours.Sunday.from}}">
            <label>Sunday: To</label>
            <input class="form-control" type="text" ng-model="Hours.Sunday.to" value="{{profile.Hours.Sunday.to}}">
        </div>
     </form>
    </div>
    <p><a class="btn btn-success col-sm-11" ng-href="" ng-click="updateProfile()">Update Profile</a></p>
</div>
</div>