<div class="col-sm-11 col-sm-offset-1">
	<h3 class="page-header">About</h3>
	<div class="col-sm-11 add-menu-item-block">
    <h3>User Profile</h3>
    <form name="menuForm">
        <div class="form-group col-sm-5">
            <label>User Name: </label>
            <input class="form-control" type="text" ng-model="Name" value="{{about.Name}}">
        </div>
        <div class="form-group col-sm-5">
        	<label>Address: </label>
            <input class="form-control" type="text" ng-model="Address" value="{{about.Address}}">
        </div>
        <div class="form-group col-sm-5">
        	<label>Telephone: </label>
            <input class="form-control" type="text" ng-model="Telephone" value="{{about.Telephone}}">
        </div>
        <div class="form-group col-sm-5">
        	<label>Hours: </label>
            <label>Monday: From</label>
            <input class="form-control" type="text" ng-model="Hours.Monday.from" value="{{about.Hours.Monday.from}}">
            <label>Monday: To</label>
            <input class="form-control" type="text" ng-model="Hours.Monday.to" value="{{about.Hours.Monday.to}}">
            <label>Tuesday: From</label>
            <input class="form-control" type="text" ng-model="Hours.Tuesday.from" value="{{about.Hours.Tuesday.from}}">
            <label>Tuesday: To</label>
            <input class="form-control" type="text" ng-model="Hours.Tuesday.to" value="{{about.Hours.Tuesday.to}}">
            <label>Wednesday: From</label>
            <input class="form-control" type="text" ng-model="Hours.Wednesday.from" value="{{about.Hours.Wednesday.from}}">
            <label>Wednesday: To</label>
            <input class="form-control" type="text" ng-model="Hours.Wednesday.to" value="{{about.Hours.Wednesday.to}}">
            <label>Thursday: From</label>
            <input class="form-control" type="text" ng-model="Hours.Thursday.from" value="{{about.Hours.Thursday.from}}">
            <label>Thursday: To</label>
            <input class="form-control" type="text" ng-model="Hours.Thursday.to" value="{{about.Hours.Thursday.to}}">
            <label>Friday: From</label>
            <input class="form-control" type="text" ng-model="Hours.Friday.from" value="{{about.Hours.Friday.from}}">
            <label>Wednesday: To</label>
            <input class="form-control" type="text" ng-model="Hours.Friday.to" value="{{about.Hours.Friday.to}}">
            <label>Saturday: From</label>
            <input class="form-control" type="text" ng-model="Hours.Saturday.from" value="{{about.Hours.Saturday.from}}">
            <label>Saturday: To</label>
            <input class="form-control" type="text" ng-model="Hours.Saturday.to" value="{{about.Hours.Saturday.to}}">
            <label>Sunday: From</label>
            <input class="form-control" type="text" ng-model="Hours.Sunday.from" value="{{about.Hours.Sunday.from}}">
            <label>Sunday: To</label>
            <input class="form-control" type="text" ng-model="Hours.Sunday.to" value="{{about.Hours.Sunday.to}}">
        </div>


    </form>
    <p><a class="btn btn-success col-sm-11" ng-href="" ng-click="updateProfile(about)">Update Profile</a></p>
</div>
</div>