<div class="col-sm-11 col-sm-offset-1 main">
    <button class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#myModal">Add Category</button>
    <h3 class="page-header">Categories</h3>
    <div class="row">
        <div class="col-xs-6 col-md-3" ng-repeat="(key,categ) in categories">
            <a href="" class="thumbnail category-thumbnail">
                <button type="button" class="close" aria-hidden="true" ng-click="deleteCateg(key)">&times;</button>
                <img ng-src="data:{{categ.image.filetype}};base64,{{categ.image.base64}}" alt=""  style="max-height: 175px">
                <h5>{{categ.name}}</h5>
            </a>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add Category</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Category Name</label>
                    <input class="form-control" ng-model="categoryName" placeholder="Category Name">
                </div>
                <div class="form-group">
                    <label>Category Description</label>
                    <textarea class="form-control" rows="4" ng-model="categoryDescription" placeholder="Category Description"></textarea>
                </div>
                <div class="form-group">
                    <label>Category Image (under 10MB, 50KB recommended)</label>
                    <input type="file" ng-model="image" name="file" base-sixty-four-input>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addCategory()" data-dismiss="modal">Add Category</button>
            </div>
        </div>
    </div>
</div>